$utilities: (
  'position': (
    responsive: true,
    property: position,
    values: static relative absolute fixed sticky,
  ),
  "text-align": (
    responsive: true,
    property: text-align,
    class: text,
    values: (
      start: left,
      end: right,
      center: center,
      justify: justify,
    )
  ),
);
