$utilities: (
  'position': (
    responsive: true,
    property: position,
    values: static relative absolute fixed sticky,
  ),
  'text-align': (
    responsive: true,
    property: text-align,
    class: text,
    values: (
      start: left,
      end: right,
      center: center,
      justify: justify,
    ),
  ),
);

.rotate-2 {
  transform: rotate(2deg)
}

.-rotate-2 {
  transform: rotate(-2deg)
}