$utilities: (
  'position': (
    responsive: true,
    property: position,
    values: static relative absolute fixed sticky,
  ),
  'text-align': (
    responsive: true,
    property: text-align,
    class: text,
    values: (
      start: left,
      end: right,
      center: center,
      justify: justify,
    ),
  ),
  'border-end': (
    responsive: true,
    property: border-right,
    class: border-end,
    values: (
      null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
      0: 0,
    ),
  ),
  'height': (
    responsive: true,
    property: height,
    class: h,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  ),
  'align': (
    property: vertical-align,
    class: align,
    values: baseline top middle bottom text-bottom text-top,
  ),
);

.rotate-2 {
  transform: rotate(2deg);
}

.-rotate-2 {
  transform: rotate(-2deg);
}
