.header {
  &-logo {
    width: 40px;
    height: 40px;
    @include media-breakpoint-up(md) {
      width: 55px;
      height: 55px;
    }
  }
  &-btn-group {
    height: 40px;
    @include media-breakpoint-up(md) {
      height: 55px;
    }
  }

  &-search-btn {
    width: 40px;
    @include media-breakpoint-up(md) {
      width: 55px;
    }
  }
}

.hamburger {
  &-icon-line {
    display: block;
    height: 2px;
    width: 22px;
  }
  &-btn {
    row-gap: 5px;
    width: 54px;
    height: 38px;
  }
}

.navbar {
  &-custom {
    top: 66px;
    left: 0;
    right: 0;

    @include media-breakpoint-up(md) {
      top: 105px;
    }
    
    .navbar-collapse {
      @include media-breakpoint-up(lg) {
        border-bottom: 0;
      }
    }
  }
  &-link-custom:hover {
    background-color: $primary;
    color: $secondary;
    @include media-breakpoint-up(lg) {
      background-color: transparent;
      color: #9c9e18;
    }
  }
}
