.index {
  &-banner {
    height: 350px;
    background-image: url('../assets/images/event/13.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include media-breakpoint-up(md) {
      height: 518px;
    }

    .banner-date {
      font-size: 32px;
      line-height: 37px;

      @include media-breakpoint-up(md) {
        font-size: 60px;
        line-height: 69px;
      }
    }
    .banner-title {
      font-size: 18px;
      line-height: 26px;
      @include media-breakpoint-up(md) {
        font-size: 24px;
        line-height: 34px;
      }
    }
  }

  &-categories {
    .categories-icon {
      width: 40px;
      height: 40px;
      @include media-breakpoint-up(md) {
        width: 80px;
        height: 80px;
      }
    }
    .categories-title {
      font-size: 16px;

      @include media-breakpoint-up(md) {
        font-size: 24px;
      }
    }
    .more {
      font-size: 24px;
    }
  }

  &-online {
    .online-title {
      font-size: 18px;
      @include media-breakpoint-up(md) {
        font-size: 32px;
      }
    }
    .image {
      background-image: url('/assets/images/event/online.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0% 30%;
      height: 158px;

      @include media-breakpoint-up(md) {
        height: 100%;
      }
    }
  }

  &-albums {
    .wall {
      font-size: 32px;
      &-item {
        animation: marqee 30s linear infinite;
        white-space: nowrap;
      }
    }
    .category {
      font-size: 16px;
      transform: translate(-50%, -50%) rotate(-4deg);
    }
    .pic {
      width: 100%;
      height: 274px;
      object-fit: cover;
      @include media-breakpoint-up(md) {
        height: 267px;
      }
    }
    .title {
      font-size: 18px;
    }
  }

  &-follow {
    .title {
      font-size: 24px;
      @include media-breakpoint-up(md) {
        font-size: 32px;
      }
    }
    .icon {
      width: 32px;
      height: 32px;
    }
  }

  &-slogan {
    .title {
      font-size: 18px;
      @include media-breakpoint-up(md) {
        font-size: 32px;
      }
      &-sub {
        font-size: 14px;
        @include media-breakpoint-up(md) {
          font-size: 18px;
        }
      }
    }
  }
}
