<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>訂單確認</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="checkorder">
      <div class="container pt-6 pb-12 py-md-15">
        <div class="row">
          <div class="col-12 col-lg-6 mx-lg-auto">
            <!-- 進度條 -->
            <ol class="list-unstyled stepprogress mb-6 mb-md-12">
              <li class="stepprogress-item">
                <div class="stepprogress-number active">1</div>
                <p class="serif">訂單確認</p>
              </li>
              <li class="stepprogress-item">
                <div class="stepprogress-number">2</div>
                <p class="serif">結帳付款</p>
              </li>
              <li class="stepprogress-item">
                <div class="stepprogress-number">3</div>
                <p class="serif">訂購結果</p>
              </li>
            </ol>
            <!-- 結帳內容 -->
            <h2 class="title serif mb-6 text-lg-center">返老還童-制服聯誼</h2>
            <table class="table table-hover border-2 border-top border-primary mb-8">
              <tbody>
                <tr>
                  <th class="serif">日期</th>
                  <td class="text-end sans">日期 2023/5/12</td>
                </tr>
                <tr>
                  <th class="serif">票種</th>
                  <td class="text-end sans">改頭換面票（含大改造）</td>
                </tr>
                <tr>
                  <th class="serif">票價</th>
                  <td class="text-end sans">$8000</td>
                </tr>
              </tbody>
            </table>
            <h3 class="serif d-flex flex-column align-items-center form-title mb-4">
              <img class="sparkler mb-4" src="../assets/images/sparkler.png" alt="icon" />
              聯絡人資料
            </h3>
            <form>
              <div class="d-flex flex-column gap-4 mb-md-8 mb-6">
                <div>
                  <label for="contact-name" class="form-label">聯絡人姓名</label>
                  <input
                    type="text"
                    class="form-control fs-5"
                    id="contact-name"
                    placeholder="請輸入聯絡人名稱"
                    aria-describedby="contactName"
                  />
                </div>
                <div>
                  <label for="contact-email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control fs-5"
                    id="contact-email"
                    placeholder="請輸入Email"
                    aria-describedby="contactEmail"
                  />
                </div>
                <div>
                  <label for="contact-tel" class="form-label">手機</label>
                  <input
                    type="tel"
                    class="form-control fs-5"
                    id="contact-tel"
                    placeholder="請輸入手機號碼"
                    aria-describedby="contacTel"
                  />
                </div>
              </div>
              <a
                href="payment.html"
                class="mx-lg-auto col-lg-8 btn btn-primary d-flex align-items-center text-center justify-content-center fs-5"
              >
                確認表單資料<i class="icofont-double-right fw-bold ms-1 fs-7"></i>
              </a>
            </form>
            <div class="text-center mt-4">
              <a href="index.html" class="fs-5 text-black-50">取消購票</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
